<!-- <p>todo works!</p> -->
<li [ngClass]="{ editing: isEditingTodo , completed: todoObject.isCompleted}">
  <div class="view">
    <input class="toggle" type="checkbox" [checked]="todoObject.isCompleted" (change)="toggleTodo()">
    <label (dblclick)="setTodoInEditMode()">{{ todoObject.todoText }}</label>
    <button class="destroy" (click)="deleteTodo()"></button>
  </div>
  <ng-container *ngIf="isEditingTodo">
    <input
      class="edit"
      #todoTextInput
      type="text"
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="submitTodo()"
    />
  </ng-container>
</li>
